# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Log files
logs/
*.log

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Airflow
airflow.cfg
webserver_config.py
